/*
    File: dynamic_table_v2.css
    GUI Assignment: Using the jQuery Plugin/UI with Your Dynamic Table
    Matt Zagame, UMass Lowell Computer Science, Matt_Zagame@student.uml.edu
    All rights reserved. May be freely copied or excerpted for educational
    purposes with credit to the author.
    Updated by MZ on August 19, 2021 at 4:00 PM
*/
main {
    margin: 15px 10px;
}

/* user input form */
fieldset {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    width: 300px;
    float: left;
    font-size: small;
    text-align: right;
    box-sizing: border-box;
}
fieldset p {
    margin: 10px 0px;
}
fieldset label, fieldset input {
    padding: 5px;
}
fieldset input[type="submit"] {
    margin: 5px 25% 0px 25%;
    width: 50%;
}
fieldset #info {
    margin: 5px;
    max-width: 300px;
    text-align: center;
    font-weight: bold;
}

/* dynamic multiplication table */
#dynamicTable {
    margin: 10px;
    max-width: 1200px;
    max-height: 500px;
    overflow: scroll;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
    #dynamicTable {
        clear: both;
        min-width: 100%;
    }
}
table {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    text-align: right;
}
table th:not(:empty) {
    padding: 0px 10px;
    color: white;
    background-color: black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
table td {
    padding: 0px 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
table td:nth-child(2n+1) {
    background-color: lightgrey;
}

/* error messages */
.error {
    color: red;
}

/* saved tables */
#savedTables {
    clear: both;
}