/*
    File: style.css
    GUI Programming I
    Matt Zagame, UMass Lowell Computer Science, Matt_Zagame@student.uml.edu
    All rights reserved. May be freely copied or excerpted for educational
    purposes with credit to the author.
    Updated by MZ on August 19, 2021 at 4:00 PM
    Color Scheme:
    Grain: #D7CEC7,
    Blackboard: #565656, 
    Oxblood: #76323F,
    Tan: #C09F80
*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #D7CEC7;
    background-image: url("../images/design.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #565656;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    overflow: auto;
    box-sizing: border-box;
}

/* setup grid layout for header, nav, main, and footer */
#wrapper {
    margin: auto;
    width: 70%;
    min-width: 768px;
    min-height: 720px;
    max-height: 1440px;
    display: grid;
    grid-template-rows: 70px 35px 2px 1fr 70px;
    background-color: rgba(250, 250, 250, 0.98);
}

header h1 {
    margin: 10px 6% 0px 6%;
    line-height: 60px;
}

/* navigation bar styles */
nav {
    margin: 0px;
    padding-left: 6%;
    overflow: hidden;
}
nav a {
    float: left;
    color: #76323F;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/* dropdown menu */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    margin: 0px;
    padding: 0px 16px;
    border: none;
    outline: none;
    color: #76323F;
    background-color: inherit;
    font-family: inherit;
    font-size: large;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #565656;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.dropdown-content a {
    padding: 3px 16px;
    float: none;
    display: block;
    color: #565656;
    text-decoration: none;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* navbar underline */
div.line {
    margin: 0px 4%;
    height: 2px;
    width: 90%;
    background-color: #565656;
}

/* main content block */
main {
    margin: 0px;
    padding: 5px;
}

article {
    margin: 20px 6% 10px 6%;
}
article p {
    line-height: 1.4em;
}
article img {
    height: auto;
    max-width: 100%;
}

footer {
    text-align: center;
}
footer p {
    margin: 3px;
}
footer span {
    margin: 1px;
    line-height: 25px;
}